/* INFORMATION
	- Author:   Dean P.
	- Contact:  deanpif@gmail.com
*/
/* RESET SETTINGS
   ----------------------------- */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus, input:focus, select:focus {
  outline: 0;
}

textarea, input, select {
  border: 0;
}

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translate(-200px, 0);
            transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    -webkit-transform: translate(-200px, 0);
            transform: translate(-200px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translate(200px, 0);
            transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromRight {
  from {
    -webkit-transform: translate(200px, 0);
            transform: translate(200px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromTop {
  from {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fromBottom {
  from {
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
.animate__fromright {
  -webkit-animation-name: fromRight;
          animation-name: fromRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.animate__fromleft {
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.animate__frombottom {
  -webkit-animation-name: fromBottom;
          animation-name: fromBottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.animate__fromtop {
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.header {
  padding: 33px 0 650px 0;
  text-align: center;
}
.header:before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  background: url(../images/main_image.png) no-repeat center center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}
.header nav {
  display: inline-block;
  vertical-align: middle;
}
.header nav ul {
  display: inline-block;
}
.header nav ul li {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
}
.header nav ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #4d4959;
  font-weight: 400;
  text-decoration: none;
  transition: padding 0.5s;
  padding: 0 10px;
}
.header nav ul li a:hover {
  color: #656076;
  border-bottom: 2px solid #656076;
  padding-bottom: 10px;
}
.header nav ul li span {
  margin: 0 40px;
  display: inline-block;
}
.header nav ul:first-child {
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.header nav ul:last-child {
  -webkit-animation-name: fromRight;
          animation-name: fromRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.header h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 75px;
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.footer {
  background-color: #f7f7f7;
  padding: 100px 10%;
  font-size: 0;
  overflow: hidden;
}
.footer div {
  display: inline-block;
  width: 33.333%;
  vertical-align: middle;
  font-size: 14px;
}
.footer div a {
  margin: 0 9px;
}
.footer div p, .footer div span {
  color: #848789;
  font-weight: 300;
}
.footer div span {
  font-style: italic;
}
.footer div img {
  vertical-align: middle;
  margin-left: 15px;
  transition: opacity 0.5s 0s;
}
.footer div img:hover {
  opacity: 0.7;
}
.footer__social {
  text-align: center;
}
.footer__copyright {
  text-align: right;
}

body {
  font-family: 'Lato';
}

.main {
  overflow: hidden;
}
.main__aboutus {
  padding: 115px 14%;
  text-align: center;
  overflow: hidden;
  background-color: #f7f7f7;
}
.main__aboutus * {
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.main__aboutus img {
  margin-bottom: 35px;
}
.main__aboutus h2 {
  margin-bottom: 35px;
  color: #353738;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.main__aboutus p {
  color: #848789;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
}
.main__work {
  background: #fff;
  overflow: hidden;
}
.main__work__list, .main__work__list-double {
  width: 100%;
  font-size: 0;
  display: table;
}
.main__work__list-image, .main__work__list-double-image {
  width: 70%;
  display: table-cell;
  background-image: url(../images/bike1_big.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.main__work__list-image img, .main__work__list-double-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__work__list-text, .main__work__list-double-text {
  width: 30%;
  display: table-cell;
  vertical-align: bottom;
  background-color: #fff;
  text-align: center;
}
.main__work__list-text img:first-child, .main__work__list-double-text img:first-child {
  margin: 75px 0 32px 0;
}
.main__work__list-text hr, .main__work__list-double-text hr {
  border: 0;
  background-color: #ddd;
  width: 50px;
  height: 1px;
  display: block;
  text-align: center;
  margin: 50px auto 60px auto;
}
.main__work__list-text h3, .main__work__list-double-text h3 {
  margin-bottom: 35px;
  color: #353738;
  font-weight: bold;
  font-size: 18px;
  padding: 0 10%;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.main__work__list-text p, .main__work__list-double-text p {
  color: #848789;
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  padding: 0 10%;
  line-height: 30px;
}
.main__work__list-text img:last-child, .main__work__list-double-text img:last-child {
  width: 100%;
}
.main__work__list-double-image {
  width: 33.333%;
}
.main__work__list-double-text {
  width: 33.333%;
}
.main__twitter {
  background-color: #f7f7f7;
  padding: 125px 0 0 0;
  text-align: center;
}
.main__twitter img {
  margin-bottom: 35px;
}
.main__twitter h4 {
  margin-bottom: 27px;
  color: #353738;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}
.main__twitter h4 span {
  color: #848789;
  font-weight: 300;
}
.main__twitter p {
  font-size: 24px;
  color: #848789;
  padding: 0 10%;
}
.main__twitter > span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  margin: 100px 0 60px 0;
  background-color: #f7f7f7;
  border: 1px solid #a3a3a3;
}
.main__twitter > span.active {
  background-color: #a3a3a3;
}
.main__shop {
  height: 540px;
  font-size: 0;
  overflow: hidden;
  background: #fff;
}
.main__shop__list {
  width: 33.333%;
  display: inline-block;
  vertical-align: top;
}
.main__shop__list-small, .main__shop__list-medium, .main__shop__list-large {
  width: 50%;
  height: 270px;
  display: inline-block;
  position: relative;
  background-size: cover;
  background-position: center;
}
.main__shop__list-small:before, .main__shop__list-medium:before, .main__shop__list-large:before {
  content: ' ';
  width: 100%;
  height: 270px;
  display: inline-block;
  transition: all 0.5s 0s;
}
.main__shop__list-small:hover:before, .main__shop__list-medium:hover:before, .main__shop__list-large:hover:before {
  background-color: rgba(88, 165, 137, 0.8);
}
.main__shop__list-small:hover > img, .main__shop__list-medium:hover > img, .main__shop__list-large:hover > img {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__shop__list-small:hover > h3, .main__shop__list-medium:hover > h3, .main__shop__list-large:hover > h3 {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main__shop__list-small img, .main__shop__list-medium img, .main__shop__list-large img, .main__shop__list-small h3, .main__shop__list-medium h3, .main__shop__list-large h3 {
  position: absolute;
  opacity: 0;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  top: 50%;
  left: 50%;
  transition: all 0.7s 0s;
  -webkit-transform: translate(-150%, -50%);
      -ms-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}
.main__shop__list-small h3, .main__shop__list-medium h3, .main__shop__list-large h3 {
  top: 62%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.main__shop__list-medium {
  width: 100%;
}
.main__shop__list-large {
  width: 50%;
  height: 540px;
}
.main__shop__list-large:before {
  height: 540px;
}
.main__shop__list-large h3 {
  top: 56%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.main__shopbutton {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center;
}
.main__shopbutton a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  letter-spacing: 3px;
  border-radius: 2px;
  padding: 16px 80px;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 0.5s 0s;
}
.main__shopbutton a:hover {
  background-color: #fff;
  color: #2b2b2b;
}
.main__newsletter {
  padding: 100px 0;
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.main__newsletter p {
  margin: 44px 0 32px 0;
  color: #848789;
  font-size: 24px;
  font-style: italic;
}
.main__newsletter input {
  height: 60px;
  padding: 0 30px;
}
.main__newsletter input[type="email"] {
  border: 1px solid #ddd;
  font-family: 'Lato';
  color: #353738;
  font-size: 16px;
  width: 300px;
}
.main__newsletter input[type="email"]::-webkit-input-placeholder {
  font-family: 'Lato';
  color: #d1d1d1;
}
.main__newsletter input[type="email"]::-moz-placeholder {
  font-family: 'Lato';
  color: #d1d1d1;
}
.main__newsletter input[type="email"]:-ms-input-placeholder {
  font-family: 'Lato';
  color: #d1d1d1;
}
.main__newsletter input[type="email"]::placeholder {
  font-family: 'Lato';
  color: #d1d1d1;
}
.main__newsletter input[type="submit"] {
  background-color: #64c29e;
  font-family: 'Lato';
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  vertical-align: top;
  transition: all 0.5s 0s;
}
.main__newsletter input[type="submit"]:hover {
  background-color: #8ad1b6;
}
