.header {
	padding: 33px 0 650px 0;
	text-align: center;
	&:before {
		content: ' ';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
		background: url(../images/main_image.png) no-repeat center center;
		background-size: cover;
		will-change: transform;
		z-index: -1;
	}
	nav {
		display: inline-block;
		vertical-align: middle;
		ul {
			display: inline-block;
			li {
				display: inline-block;
				font-weight: bold;
				letter-spacing: 2px;
				a {
					font-size: 13px;
					text-transform: uppercase;
					color: #4d4959;
					text-decoration: none;
					transition: padding 0.5s;
					padding: 0 10px;
				}
				a:hover {
					color: #656076;
					border-bottom: 2px solid #656076;
					padding-bottom: 10px;
				}
				span {
					margin:0 40px;
					display: inline-block;
				}
			}
			&:first-child {
				animation-name: fromLeft;
				animation-duration: 2s;
				animation-timing-function: ease;
			}
			&:last-child {
				animation-name: fromRight;
				animation-duration: 2s;
				animation-timing-function: ease;
			}
		}
	}
	h1 {
		display: inline-block;
		vertical-align: middle;
		margin: 0 75px;
		animation-name: fromTop;
		animation-duration: 2s;
		animation-timing-function: ease;
	}
}