.footer {
  background-color: #f7f7f7;
  padding: 100px 10%;
  font-size: 0;
}

.footer div {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
}

.footer div a {
  margin: 0 9px;
}

.footer div p, .footer div span {
  color: #848789;
  font-weight: 300;
}

.footer div span {
  font-style: italic;
}

.footer div img {
  vertical-align: middle;
  margin-left: 15px;
}

.footer div:nth-child(2) {
  text-align: center;
}

.footer div:nth-child(3) {
  text-align: right;
}
